bs4        # Beautiful Soup, best html parser (but slow)
lxml       # Needed for better html parsing
requests   # Pulling data from the internet
dspipe     # custom module to help with data pipelines
wasabi     # colored command-line logging
